@font-face {
  font-family: 'Inter';
  src: local('Inter Bold'), local('Inter-Bold'),
    url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter Regular'), local('Inter-Regular'),
    url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arkhip';
  src: local('Arkhip'),
      url('../fonts/Arkhip.woff2') format('woff2'),
      url('../fonts/Arkhip.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;

  font-family: 'Inter', 'Tahoma', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: $text-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  min-width: 230px;
  border: none;
  border-radius: 50px;
  padding: 20px 45px;

  text-align: center;
  color: $basic-color;
  font-size: 20px;
  line-height: 30px;

  background-color: $button-color;

  &:hover {
    background-color: lighten($button-color, 10%);
  }

  &:active {
    background-color: lighten($button-color, 20%);
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 550px) {
  .btn {
    display: inline-block;
    min-width: 180px;
    border: none;
    border-radius: 50px;
    padding: 15px 25px;

    font-size: 16px;
    line-height: 24px;
  }
}
