.features__container {
  width: 1286px;
  margin: 0 auto;
  padding-top: 140px;
  padding-right: 100px;
  padding-left: 100px;
}

@media (max-width: 1305px) {
  .features__container {
    width: auto;
  }
}

@media (max-width: 550px) {
  .features__container {
    padding-top: 70px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
