@use '../variables';

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 100px;
}

.feedback-form__title {
  position: relative;

  width: 324px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 120px;

  font-family: 'Arkhip', 'Georgia', 'Palatino', serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: variables.$title-color;

  &::after {
    content: '';

    position: absolute;
    top: 0;
    left: 30px;

    width: 95px;
    height: 92px;
    background-image: url('../../img/icon-check-form.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 92px 92px;
  }
}

.feedback-form__text {
  width: 288px;
  margin: 0;
}

@media (max-width: 1240px) {
  .feedback-form__title {
    font-size: 26px;
    line-height: 36px;
  }
}

@media (max-width: 960px) {
  .feedback-form {
    padding-right: 0;
  }
}

@media (max-width: 550px) {
  .feedback-form__title {
    width: auto;
  }
}
